.carousel-container {
    
    width: 80%;
    /* Adjust the width as needed */
    max-width: 400px;
    /* Adjust the maximum width as needed */
    margin: 0 auto;
    /* Center the carousel horizontally */
    margin-top: 5%;
}

.carousel .slide img {
    max-width: 100%;
    height: auto;
}